@font-face {
    font-family: 'Montserrat';
    src: url(../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(../public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

*{
    font-family: "Roboto", Arial, sans-serif;
    overflow-x: hidden;
}

.bg-navbar-custom{
    background-color: #3C403B;;
    z-index: 10;
}

.bg-banner-custom{
    background-image: url('../public/img/banner-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
}

.bg-button-custom{
    background-color: #A68F7B;
    border-radius: 35px;
    border: none;
}

.bg-button-custom:hover{
    background-color:#7c6a5c;
    transition: background-color 0.2s;
    color: white;
}

.bg-button-custom:active{
    background-color:#877464;
    transition: background-color 0.2s;
}

.bg-portfolio-custom{
    background-color: #F2F0F0;;
}

.bg-offer-custom{
    background-color: #BFBBB8;
}

.bg-contact-custom{
    background-color: #F2F0F0;;
}

.bg-footer-custom{
    background-color: #3C403B;
}